name: Release

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    name: Release for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: vessel
            asset_name: vessel-linux64
          - os: windows-latest
            artifact_name: vessel.exe
            asset_name: vessel-windows64.exe
          - os: macos-latest
            artifact_name: vessel
            asset_name: vessel-macos

    steps:
    - name: Install stable toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        profile: minimal
        toolchain: stable
        override: true
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --release --locked
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: target/release/${{ matrix.artifact_name }}
        asset_name: ${{ matrix.asset_name }}
        tag: ${{ github.ref }}
